<section class="packages" id="vuelos">
    <div class="packages__titles">
        <p class="eyebrow packages__eyebrow" i18n="@@packages.eyebrow">Vuelos</p>
        <h2 class="packages__title" i18n="@@packages.title">Elige tu vuelo</h2>
    </div>

    <div class="packages__grid">
        @for (item of packages; track item.id)
        {
            <article class="package" [class.package--private]="item.isPrivate">
                <img class="package__image"
                     [src]="item.image"
                     [attr.srcset]="item.srcset"
                     sizes="(max-width: 560px) 100vw, (max-width: 1100px) 50vw, 18rem"
                     [alt]="item.imageAlt"
                     width="800"
                     height="600"
                     loading="lazy">

                <div class="package__body">
                    <div class="package__header">
                        <h3 class="package__name">{{ item.name }}</h3>
                        <p class="package__tagline">{{ item.tagline }}</p>
                    </div>

                    <p class="package__price">
                        ${{ item.price | number }}
                        <span class="package__unit">MXN {{ item.priceUnit }}</span>
                    </p>

                    <ul class="package__includes">
                        @for (line of item.includes; track line)
                        {
                            <li class="includes__item">{{ line }}</li>
                        }
                    </ul>

                    <a class="button package__button" [href]="item.url" i18n="@@packages.book">Reservar</a>
                </div>
            </article>
        }
    </div>
</section>
